/* for first page */
.actualInteraction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    z-index: 10;
}


.actualInteraction > h1 {
    font-size: 60px;
}

.beginningChoices {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
    top: -10%   
}


.startBtn {
    text-decoration: none;
    border: 2px solid gray;
    border-radius: 5px;
    padding:10px;
    width: 140px;
    margin:6px;
}

.startOptions {
    /* display: none; */
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    padding: 40px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(117, 243, 201,0.5);
}


.modal-content {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;
    gap: 10px;
    background-color: #fff;
    width: 450px;
    max-width: 100%;
    margin: 60px auto;
    padding:10px;
}

.xDiv {
    position: absolute;
    padding: 2em;
    left: 90%;
    top: -6%;
    transform: translateX(-50%);
    
}

.xImg {
    width: 70px;
    height: 70px;
    cursor: pointer;
}




.startOptions > * {
    background-color: #fefefe;
    border: 3px solid #888;
    height: 100%;
}

.choosingIcon1,
.choosingIcon2 {
  display: flex;
  align-items: center;
}   

.icon0,
.icon2 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}

.icon0.selected,
.icon2.selected  {
  border: 5px solid blue;
  border-radius: 20px;
}

.icon2.selected {
    border: 5px solid red;
}

.modal h2 {
    margin-top: 0;
  }
  
  .modal button {
    margin-top: 10px;
  }

.form-select {
   width: 80%;
   cursor: pointer;
}



/*  */


/* 
.timeRemaining {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
} */



.iconContainer {
    display: flex;
    justify-content: space-between;
    /* creates distance between icons */
    margin:30px;
}

.icon {
    display: block;
    max-width: 10%; 
    /* max width adjusts the size of icon */
}

.playerImg {
    max-width: 100%;
    max-height: 100%;
    /* fills the container .icon */
}


/* sets up Dpad for all */
.Dpad {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 40% 40% 40% ;
    max-width: 20%;
    text-align: center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    position: relative;
    /* solves the issue of dpad not getting clicked cause overlayed by others */
    z-index: 30;     
}

.Dpad.Ai {
    margin: 0 auto 0 auto;
    position: relative;
    top: -100px;
}

.Dpad.Ai > .pad > .arrowImg {
    pointer-events:none
}

.pad {
    border-radius: 5px;
    
}

.pad.Up {
    grid-column-start: 2;
    grid-row-start: 1;

}

.pad.Right {
    grid-column-start: 3;
    grid-row-start: 2;
}

.pad.Down {
    grid-column-start: 2;
    grid-row-start: 3;
}

.pad.Left {
    grid-column-start: 1;
    grid-row-start: 2;
}

.Middle {
    grid-column-start: 2;
    grid-row-start: 2;
}


/* pad photos and design */

.arrowImg{
    border-radius: 30px;
    cursor: pointer;
}

.arrowImg.Up {
    transform: rotate(270deg);
    max-width: 80%;
    max-height: 80%;
    filter: invert(14%) sepia(36%) saturate(3301%) hue-rotate(338deg) brightness(92%) contrast(71%);
    /* color to be changed to after getting clicked */
    /* filter: invert(13%) sepia(84%) saturate(6748%) hue-rotate(359deg) brightness(111%) contrast(112%); */
}

.arrowImg.Right {
    max-width: 80%;
    max-height: 80%;
    filter: invert(33%) sepia(20%) saturate(1313%) hue-rotate(21deg) brightness(95%) contrast(81%);
    /* filter: invert(75%) sepia(67%) saturate(797%) hue-rotate(10deg) brightness(111%) contrast(107%); */
}

.arrowImg.Down {
    transform: rotate(90deg);
    max-width: 80%;
    max-height: 80%;
    filter: invert(37%) sepia(12%) saturate(1532%) hue-rotate(72deg) brightness(91%) contrast(89%);
    /* filter: invert(79%) sepia(51%) saturate(598%) hue-rotate(60deg) brightness(102%) contrast(98%); */
}

.arrowImg.Left {
    transform: rotate(180deg);
    max-width: 80%;
    max-height: 80%;
    filter: invert(27%) sepia(35%) saturate(839%) hue-rotate(201deg) brightness(86%) contrast(97%);
    /* filter: invert(8%) sepia(100%) saturate(7481%) hue-rotate(249deg) brightness(101%) contrast(142%); */
}

.arrowImg.Middle {
    max-width: 80%;
    max-height: 80%;
    /* IMPORTANT: remove this when debugging */
    display: none;
}




/* gif reactions */
.playerReactions {
    display: flex;
    justify-content: space-between;
    margin:30px;
    padding: 0 20% 0 20%;
    position: relative;
    top: -250px;
    /* left: 80px; */
}

@media (max-width:800px) {
    .playerReactions {
        top: -200px;
        padding: 0 17% 0 17%;
    }
}

.reaction {
    width: 15%;
    height: 15%;
}


#giphy-results {
    width: 100%;
    height: 100%;
}

#giphy-results img {
    width: 100%;
    height: 100%;
}



/* The player's dpad */

 .playerDpads {
    display: flex;
    justify-content: space-between;
    /* margin:30px;  */
    /* padding: 0 200px 0 200px; */
    position: relative;
    top: -200px;
    /* height: 130px;
    width: 900px; */
} 

.Dpad.player1 {
    left: 15%;
    position: relative;
}

.Dpad.player2 {
    left: -15%;
    position: relative;
}


/* the scoring range and pause/start */
.bottomInputs {
    display: grid;
    padding: 0 30% 0 30%;
    text-align: center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;     
    position: relative; 
    top: -450px;
    grid-template-rows: 30px 150px 30px;
    /* margin-top: 80px; */
    /* width: 100%;
    height: 100%;
    grid-template-rows: 200px 100px; */
}
@media (max-width:900px) {
    .bottomInputs  {
        top: -400px;
        
    }
}
@media (max-width:700px) {
    .bottomInputs  {
        top: -350px;
        
    }
}



input[type=range][orient=vertical] { 
    writing-mode: vertical;
    transform: rotate(270deg);
    
}




.pause {

}


/* tally of player score */
.playerScores {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: space-between;
    padding: 0 8% 0 8%;
    position: relative;
    top:-200px;
    margin: 10px;
}


.details.player1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
}

.details.player2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
} 


/* if statements in js */

.on.Up {
    filter: invert(13%) sepia(84%) saturate(6748%) hue-rotate(359deg) brightness(111%) contrast(112%);
}

.on.Right {
    filter: invert(75%) sepia(67%) saturate(797%) hue-rotate(10deg) brightness(111%) contrast(107%);
}

.on.Down {
    filter: invert(79%) sepia(51%) saturate(598%) hue-rotate(60deg) brightness(102%) contrast(98%);
}

.on.Left {
    filter: invert(8%) sepia(100%) saturate(7481%) hue-rotate(249deg) brightness(101%) contrast(142%);
}



.countdown {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    padding: 40px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(6, 6, 6, 0.5);
    font-size: 30px;
    color: black;
}

.numDown {
    z-index: 4;
    font-size: 300px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.hidingEverything {
    display:none
}

.player1Won {
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    padding: 40px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(6, 6, 6, 0.5);
    font-size: 30px;
    color: black;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.player1Victory {
    font-size: 300px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.player2Loss {
    font-size: 300px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center
}

.player2Won {
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    padding: 40px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(6, 6, 6, 0.5);
    font-size: 30px;
    color: black;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.player2Victory {
    font-size: 300px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.player1Loss {
    font-size: 300px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center
}

.playerTie {
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    padding: 40px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(6, 6, 6, 0.5);
    font-size: 30px;
    color: black;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.player1Tie {
    font-size: 300px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.player2Tie {
    font-size: 300px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center
}

.theHiders h3{
    font-size: 40px;
    color: yellow;
    justify-content: center;
    align-items: center;

   
}

.theHiders p{
    color: aquamarine;
    font-size:18px;
    margin: 0;
}